---
title: "El Blog de Pedro"
layout: home
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/desk2.jpg
excerpt: "Agile, Software Development & Technology"
intro: 
  - excerpt: 'Bienvenido/a a mi blog! Aquí podrás encontrar información relacionada con temas como Agile, Desarrollo de Software o Tecnología'
feature_row:
  - image_path: assets/images/ferenc-horvath-474417-unsplash_square.jpg
    alt: "Photo by Ferenc Horvath on Unsplash"
    title: "Agile"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/hack-capital-568971-unsplash_square.jpg
    alt: "Photo by Hack Capital on Unsplash"
    title: "Software Development"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/domenico-loia-272251-unsplash_square.jpg
    alt: "Photo by Domenico Loia on Unsplash"
    title: "Technology"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/images/austin-poon-728200-unsplash.jpg
    image_caption: "Photo by Austin Poon on Unsplash"
    alt: "placeholder image 2"
    title: "Technology"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}