---
layout: archive
---

{{ content }}

<div class="entries-{{ page.entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>

<div class="post">
  <ul>
    <p>Post más recientes</p>
      {% for post in site.posts %}
      <p>{{page.collection}}</p>
        {% if post.categories contains page.collection %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
